apiVersion: apps/v1
kind: Deployment
metadata:
  name: crud-app-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: crud-app
  template:
    metadata:
      labels:
        app: crud-app
    spec:
      containers:
        - name: crud-app-container
          image: vsharanya/crud-app:latest   # your DockerHub image
          ports:
            - containerPort: 3000
